/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

# Mac file
.DS_Store

# Omit contents of the following folders
typings/*

# Visual Studio Code Config
.vscode/*
jsconfig.json
typings.json
